.icon {
  position: relative;
  display: inline-block;
  font-size: 100px;
}

.icon-overlay {
  color: #ddd;  
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.icon-base {
  color: #00b5ad;
}
