.one {
  background: -webkit-linear-gradient(90deg, #00b2ac 1%, #d3d3d3 1%);
  -webkit-text-fill-color: transparent;
}
.two {
  background: -webkit-linear-gradient(90deg, #00b2ac 2%, #d3d3d3 2%);
  -webkit-text-fill-color: transparent;
}
.three {
  background: -webkit-linear-gradient(90deg, #00b2ac 3%, #d3d3d3 3%);
  -webkit-text-fill-color: transparent;
}
.four {
  background: -webkit-linear-gradient(90deg, #00b2ac 4%, #d3d3d3 4%);
  -webkit-text-fill-color: transparent;
}
.five {
  background: -webkit-linear-gradient(90deg, #00b2ac 5%, #d3d3d3 5%);
  -webkit-text-fill-color: transparent;
}
.six {
  background: -webkit-linear-gradient(90deg, #00b2ac 6%, #d3d3d3 6%);
  -webkit-text-fill-color: transparent;
}
.seven {
  background: -webkit-linear-gradient(90deg, #00b2ac 7%, #d3d3d3 7%);
  -webkit-text-fill-color: transparent;
}
.eight {
  background: -webkit-linear-gradient(90deg, #00b2ac 8%, #d3d3d3 8%);
  -webkit-text-fill-color: transparent;
}
.nine {
  background: -webkit-linear-gradient(90deg, #00b2ac 9%, #d3d3d3 9%);
  -webkit-text-fill-color: transparent;
}
.ten {
  background: -webkit-linear-gradient(90deg, #00b2ac 10%, #d3d3d3 10%);
  -webkit-text-fill-color: transparent;
}

.eleven {
  background: -webkit-linear-gradient(90deg, #00b2ac 11%, #d3d3d3 11%);
  -webkit-text-fill-color: transparent;
}
.twelve {
  background: -webkit-linear-gradient(90deg, #00b2ac 12%, #d3d3d3 12%);
  -webkit-text-fill-color: transparent;
}
.thirteen {
  background: -webkit-linear-gradient(90deg, #00b2ac 13%, #d3d3d3 13%);
  -webkit-text-fill-color: transparent;
}
.fourteen {
  background: -webkit-linear-gradient(90deg, #00b2ac 14%, #d3d3d3 14%);
  -webkit-text-fill-color: transparent;
}
.fifteen {
  background: -webkit-linear-gradient(90deg, #00b2ac 15%, #d3d3d3 15%);
  -webkit-text-fill-color: transparent;
}
.sixteen {
  background: -webkit-linear-gradient(90deg, #00b2ac 16%, #d3d3d3 16%);
  -webkit-text-fill-color: transparent;
}
.seventeen {
  background: -webkit-linear-gradient(90deg, #00b2ac 17%, #d3d3d3 17%);
  -webkit-text-fill-color: transparent;
}
.eighteen {
  background: -webkit-linear-gradient(90deg, #00b2ac 18%, #d3d3d3 18%);
  -webkit-text-fill-color: transparent;
}
.nineteen {
  background: -webkit-linear-gradient(90deg, #00b2ac 19%, #d3d3d3 19%);
  -webkit-text-fill-color: transparent;
}
.twenty {
  background: -webkit-linear-gradient(90deg, #00b2ac 20%, #d3d3d3 20%);
  -webkit-text-fill-color: transparent;
}
.twentyone {
  background: -webkit-linear-gradient(90deg, #00b2ac 21%, #d3d3d3 21%);
  -webkit-text-fill-color: transparent;
}
.twentytwo {
  background: -webkit-linear-gradient(90deg, #00b2ac 22%, #d3d3d3 22%);
  -webkit-text-fill-color: transparent;
}
.twentythree {
  background: -webkit-linear-gradient(90deg, #00b2ac 23%, #d3d3d3 23%);
  -webkit-text-fill-color: transparent;
}
.twentyfour {
  background: -webkit-linear-gradient(90deg, #00b2ac 24%, #d3d3d3 24%);
  -webkit-text-fill-color: transparent;
}
.twentyfive {
  background: -webkit-linear-gradient(90deg, #00b2ac 25%, #d3d3d3 25%);
  -webkit-text-fill-color: transparent;
}
.twentysix {
  background: -webkit-linear-gradient(90deg, #00b2ac 26%, #d3d3d3 26%);
  -webkit-text-fill-color: transparent;
}
.twentyseven {
  background: -webkit-linear-gradient(90deg, #00b2ac 27%, #d3d3d3 27%);
  -webkit-text-fill-color: transparent;
}
.twentyeight {
  background: -webkit-linear-gradient(90deg, #00b2ac 28%, #d3d3d3 28%);
  -webkit-text-fill-color: transparent;
}
.twentynine {
  background: -webkit-linear-gradient(90deg, #00b2ac 29%, #d3d3d3 29%);
  -webkit-text-fill-color: transparent;
}
.thirty {
  background: -webkit-linear-gradient(90deg, #00b2ac 30%, #d3d3d3 30%);
  -webkit-text-fill-color: transparent;
}
.thirtyone {
  background: -webkit-linear-gradient(90deg, #00b2ac 31%, #d3d3d3 31%);
  -webkit-text-fill-color: transparent;
}
.thirtytwo {
  background: -webkit-linear-gradient(90deg, #00b2ac 32%, #d3d3d3 32%);
  -webkit-text-fill-color: transparent;
}
.thirtythree {
  background: -webkit-linear-gradient(90deg, #00b2ac 33%, #d3d3d3 33%);
  -webkit-text-fill-color: transparent;
}
.thirtyfour {
  background: -webkit-linear-gradient(90deg, #00b2ac 34%, #d3d3d3 34%);
  -webkit-text-fill-color: transparent;
}
.thirtyfive {
  background: -webkit-linear-gradient(90deg, #00b2ac 35%, #d3d3d3 35%);
  -webkit-text-fill-color: transparent;
}
.thirtysix {
  background: -webkit-linear-gradient(90deg, #00b2ac 36%, #d3d3d3 36%);
  -webkit-text-fill-color: transparent;
}
.thirtyseven {
  background: -webkit-linear-gradient(90deg, #00b2ac 37%, #d3d3d3 37%);
  -webkit-text-fill-color: transparent;
}
.thirtyeight {
  background: -webkit-linear-gradient(90deg, #00b2ac 38%, #d3d3d3 38%);
  -webkit-text-fill-color: transparent;
}
.thirtynine {
  background: -webkit-linear-gradient(90deg, #00b2ac 39%, #d3d3d3 39%);
  -webkit-text-fill-color: transparent;
}
.forty {
  background: -webkit-linear-gradient(90deg, #00b2ac 40%, #d3d3d3 40%);
  -webkit-text-fill-color: transparent;
}
.fortyone {
  background: -webkit-linear-gradient(90deg, #00b2ac 41%, #d3d3d3 41%);
  -webkit-text-fill-color: transparent;
}
.fortytwo {
  background: -webkit-linear-gradient(90deg, #00b2ac 42%, #d3d3d3 42%);
  -webkit-text-fill-color: transparent;
}
.fortythree {
  background: -webkit-linear-gradient(90deg, #00b2ac 43%, #d3d3d3 43%);
  -webkit-text-fill-color: transparent;
}
.fortyfour {
  background: -webkit-linear-gradient(90deg, #00b2ac 44%, #d3d3d3 44%);
  -webkit-text-fill-color: transparent;
}
.fortyfive {
  background: -webkit-linear-gradient(90deg, #00b2ac 45%, #d3d3d3 45%);
  -webkit-text-fill-color: transparent;
}
.fortysix {
  background: -webkit-linear-gradient(90deg, #00b2ac 46%, #d3d3d3 46%);
  -webkit-text-fill-color: transparent;
}
.fortyseven {
  background: -webkit-linear-gradient(90deg, #00b2ac 47%, #d3d3d3 47%);
  -webkit-text-fill-color: transparent;
}
.fortyeight {
  background: -webkit-linear-gradient(90deg, #00b2ac 48%, #d3d3d3 48%);
  -webkit-text-fill-color: transparent;
}
.fortynine {
  background: -webkit-linear-gradient(90deg, #00b2ac 49%, #d3d3d3 49%);
  -webkit-text-fill-color: transparent;
}
.fifty {
  background: -webkit-linear-gradient(90deg, #00b2ac 50%, #d3d3d3 50%);
  -webkit-text-fill-color: transparent;
}
.fiftyone {
  background: -webkit-linear-gradient(90deg, #00b2ac 51%, #d3d3d3 51%);
  -webkit-text-fill-color: transparent;
}
.fiftytwo {
  background: -webkit-linear-gradient(90deg, #00b2ac 52%, #d3d3d3 52%);
  -webkit-text-fill-color: transparent;
}
.fiftythree {
  background: -webkit-linear-gradient(90deg, #00b2ac 53%, #d3d3d3 53%);
  -webkit-text-fill-color: transparent;
}
.fiftyfour {
  background: -webkit-linear-gradient(90deg, #00b2ac 54%, #d3d3d3 54%);
  -webkit-text-fill-color: transparent;
}
.fiftyfive {
  background: -webkit-linear-gradient(90deg, #00b2ac 55%, #d3d3d3 55%);
  -webkit-text-fill-color: transparent;
}
.fiftysix {
  background: -webkit-linear-gradient(90deg, #00b2ac 56%, #d3d3d3 56%);
  -webkit-text-fill-color: transparent;
}
.fiftyseven {
  background: -webkit-linear-gradient(90deg, #00b2ac 57%, #d3d3d3 57%);
  -webkit-text-fill-color: transparent;
}
.fiftyeight {
  background: -webkit-linear-gradient(90deg, #00b2ac 58%, #d3d3d3 58%);
  -webkit-text-fill-color: transparent;
}
.fiftynine {
  background: -webkit-linear-gradient(90deg, #00b2ac 59%, #d3d3d3 59%);
  -webkit-text-fill-color: transparent;
}
.sixty {
  background: -webkit-linear-gradient(90deg, #00b2ac 60%, #d3d3d3 60%);
  -webkit-text-fill-color: transparent;
}
.sixtyone {
  background: -webkit-linear-gradient(90deg, #00b2ac 61%, #d3d3d3 61%);
  -webkit-text-fill-color: transparent;
}
.sixtytwo {
  background: -webkit-linear-gradient(90deg, #00b2ac 62%, #d3d3d3 62%);
  -webkit-text-fill-color: transparent;
}
.sixtythree {
  background: -webkit-linear-gradient(90deg, #00b2ac 63%, #d3d3d3 63%);
  -webkit-text-fill-color: transparent;
}
.sixtyfour {
  background: -webkit-linear-gradient(90deg, #00b2ac 64%, #d3d3d3 64%);
  -webkit-text-fill-color: transparent;
}
.sixtyfive {
  background: -webkit-linear-gradient(90deg, #00b2ac 65%, #d3d3d3 65%);
  -webkit-text-fill-color: transparent;
}
.sixtysix {
  background: -webkit-linear-gradient(90deg, #00b2ac 66%, #d3d3d3 66%);
  -webkit-text-fill-color: transparent;
}
.sixtyseven {
  background: -webkit-linear-gradient(90deg, #00b2ac 67%, #d3d3d3 67%);
  -webkit-text-fill-color: transparent;
}
.sixtyeight {
  background: -webkit-linear-gradient(90deg, #00b2ac 68%, #d3d3d3 68%);
  -webkit-text-fill-color: transparent;
}
.sixtynine {
  background: -webkit-linear-gradient(90deg, #00b2ac 69%, #d3d3d3 69%);
  -webkit-text-fill-color: transparent;
}
.seventy {
  background: -webkit-linear-gradient(90deg, #00b2ac 70%, #d3d3d3 70%);
  -webkit-text-fill-color: transparent;
}
.seventyone {
  background: -webkit-linear-gradient(90deg, #00b2ac 71%, #d3d3d3 71%);
  -webkit-text-fill-color: transparent;
}
.seventytwo {
  background: -webkit-linear-gradient(90deg, #00b2ac 72%, #d3d3d3 72%);
  -webkit-text-fill-color: transparent;
}
.seventythree {
  background: -webkit-linear-gradient(90deg, #00b2ac 73%, #d3d3d3 73%);
  -webkit-text-fill-color: transparent;
}
.seventyfour {
  background: -webkit-linear-gradient(90deg, #00b2ac 74%, #d3d3d3 74%);
  -webkit-text-fill-color: transparent;
}
.seventyfive {
  background: -webkit-linear-gradient(90deg, #00b2ac 75%, #d3d3d3 75%);
  -webkit-text-fill-color: transparent;
}
.seventysix {
  background: -webkit-linear-gradient(90deg, #00b2ac 76%, #d3d3d3 76%);
  -webkit-text-fill-color: transparent;
}
.seventyseven {
  background: -webkit-linear-gradient(90deg, #00b2ac 77%, #d3d3d3 77%);
  -webkit-text-fill-color: transparent;
}
.seventyeight {
  background: -webkit-linear-gradient(90deg, #00b2ac 78%, #d3d3d3 78%);
  -webkit-text-fill-color: transparent;
}
.seventynine {
  background: -webkit-linear-gradient(90deg, #00b2ac 79%, #d3d3d3 79%);
  -webkit-text-fill-color: transparent;
}
.eighty {
  background: -webkit-linear-gradient(90deg, #00b2ac 80%, #d3d3d3 80%);
  -webkit-text-fill-color: transparent;
}
.eightyone {
  background: -webkit-linear-gradient(90deg, #00b2ac 81%, #d3d3d3 81%);
  -webkit-text-fill-color: transparent;
}
.eightytwo {
  background: -webkit-linear-gradient(90deg, #00b2ac 82%, #d3d3d3 82%);
  -webkit-text-fill-color: transparent;
}
.eightythree {
  background: -webkit-linear-gradient(90deg, #00b2ac 83%, #d3d3d3 83%);
  -webkit-text-fill-color: transparent;
}
.eightyfour {
  background: -webkit-linear-gradient(90deg, #00b2ac 84%, #d3d3d3 84%);
  -webkit-text-fill-color: transparent;
}
.eightyfive {
  background: -webkit-linear-gradient(90deg, #00b2ac 85%, #d3d3d3 85%);
  -webkit-text-fill-color: transparent;
}
.eightysix {
  background: -webkit-linear-gradient(90deg, #00b2ac 86%, #d3d3d3 86%);
  -webkit-text-fill-color: transparent;
}
.eightyseven {
  background: -webkit-linear-gradient(90deg, #00b2ac 87%, #d3d3d3 87%);
  -webkit-text-fill-color: transparent;
}
.eightyeight {
  background: -webkit-linear-gradient(90deg, #00b2ac 88%, #d3d3d3 88%);
  -webkit-text-fill-color: transparent;
}
.eightynine {
  background: -webkit-linear-gradient(90deg, #00b2ac 89%, #d3d3d3 89%);
  -webkit-text-fill-color: transparent;
}
.ninety {
  background: -webkit-linear-gradient(90deg, #00b2ac 90%, #d3d3d3 90%);
  -webkit-text-fill-color: transparent;
}
.ninetyone {
  background: -webkit-linear-gradient(90deg, #00b2ac 91%, #d3d3d3 91%);
  -webkit-text-fill-color: transparent;
}
.ninetytwo {
  background: -webkit-linear-gradient(90deg, #00b2ac 92%, #d3d3d3 92%);
  -webkit-text-fill-color: transparent;
}
.ninetythree {
  background: -webkit-linear-gradient(90deg, #00b2ac 93%, #d3d3d3 93%);
  -webkit-text-fill-color: transparent;
}
.ninetyfour {
  background: -webkit-linear-gradient(90deg, #00b2ac 94%, #d3d3d3 94%);
  -webkit-text-fill-color: transparent;
}
.ninetyfive {
  background: -webkit-linear-gradient(90deg, #00b2ac 95%, #d3d3d3 95%);
  -webkit-text-fill-color: transparent;
}
.ninetysix {
  background: -webkit-linear-gradient(90deg, #00b2ac 96%, #d3d3d3 96%);
  -webkit-text-fill-color: transparent;
}
.ninetyseven {
  background: -webkit-linear-gradient(90deg, #00b2ac 97%, #d3d3d3 97%);
  -webkit-text-fill-color: transparent;
}
.ninetyeight {
  background: -webkit-linear-gradient(90deg, #00b2ac 98%, #d3d3d3 98%);
  -webkit-text-fill-color: transparent;
}
.ninetynine {
  background: -webkit-linear-gradient(90deg, #00b2ac 99%, #d3d3d3 99%);
  -webkit-text-fill-color: transparent;
}
.onehundred {
  background: -webkit-linear-gradient(90deg, #00b2ac 100%);
  -webkit-text-fill-color: transparent;
}
